/* 초기화 - 페이지 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* 헤더 스타일 */
.chanel-header {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 87%);
  position: fixed;
  top: 0;
  z-index: 999;
  transition: top 0.3s;
}

.header-container {
  top: 0;
  border-top: .5rem solid #000;
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
}
/* 로고를 가운데 정렬 */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  margin-bottom: -6px;
  height: 250px;
  width: auto;
}

/* 네비게이션 메뉴 */
.navigation {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu {
  height: 50px;
  display: flex;
  list-style: none;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-menu li {
  display: flex;
  align-items: center; /* 자식 요소를 중앙에 정렬 */
}

.nav-menu li.about_menu {
  margin-left: 2rem; /* about chanel 항목을 살짝 옆으로 뺌 */
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 250
  text-align: center;
  letter-spacing: 0.05rem;
  font-family:'abchanel-corpo',Arial,Helvetica,sans-serif;
}

.nav-menu li a:hover {
  color: #666;
}

/* 헤더 아이콘 */
.header-icons {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  right: 16rem;
  top: 40%;
  transform: translateY(-50%);
}

.header-icons .icon {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.header-icons .icon:hover {
  color: #666;
}

/* main{
  padding-top: 80px;
} */

  .container1{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1733482136330-homepagecorpoonedesktop18jpg_2510x5760.jpg');
  background-size: cover;
  background-position: 70% -180%;
  background-size: 100% no-repeat;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white;
  height: 800px;
  position: relative;
}
.container1::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px; /* 흐림 효과의 높이 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); /* 그라데이션 효과 */
}

  .container2{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1736766908673-onehpcorpoprelaunchslidingherodesktop2880x1260px011jpg_1260x2880.jpg');
  background-size: cover;
  background-position: 50% 10%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white;
  height: 700px;
}
  .container3{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1736786451101-onehpcorpolaunchslidingherodesktop2880x1260px025jpg_1260x2880.jpg');
  background-size: cover;
  background-position: 50% 10%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white; 
  height: 700px;
}
  .container4{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1732712528486-onehpcorpodslidinghero2880x1260px3jpg_1260x2880.jpg');
  background-size: cover;
  background-position: 50% 5%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white; 
  height: 700px;
}
  .container5{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1736786958497-onehpcorpoprelaunchslidingherodesktop2880x1260px0243jpg_1260x2880.jpg');
  background-size: cover;
  background-position: 40% 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white; 
  height: 700px;
}
  .container6{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1731069386536-hpcorpodesktop2880x1620jpg_1620x2880.jpg');
  background-size: cover;
  background-position: 50% 25%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white; 
  height: 700px;
}
  .container7{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1705585371482-hpcorpoforalldesktopjpg.jpg');
  background-size: cover;
  background-position: 60% 10%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white;
  height: 700px;
}
  .container8{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1719420503461-homepagecorpoonedesktop2880x1255jpg_6275x14400.jpg');
  background-size: cover;
  background-position: 50% 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white;
  height: 700px;
}
  .container9{
  background-image: url('https://www.chanel.com/puls-img/c_limit,w_1920/q_auto:good,dpr_auto,f_auto/1736957576469-hpcorpodesk4k5760x2520jpg_2520x5760.jpg');
  background-size: cover;
  background-position: 10% 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: end;   
  align-items: center;
  color: white; 
  height: 700px;
}


.box{
  padding-bottom: 96.5px;
}

.container_font_title{
  font-size: 15px;
  line-height: 2.25rem;
  font-family: 'abchane1-corpo', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-stretch: normal;
  letter-spacing: 1px;
  z-index: 1;
}
.container_font{
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 2.25rem;
  font-family: 'abchanel-corpo', arial, helvetica, sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-stretch: normal;
  z-index: 1;
}
#button{
  margin-top: 0;
  font-family:'abchanel-corpo', Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: black;
  background-color: white;
  width: 120px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
